@charset "UFT-8";




* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 400px;
    background-color: white;
}
header {
    background-color: black;
    height: 150px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

header h1 {
    padding: 30px 30px 10px 30px;
    font-size: 3em;
    color: white;   
    
}

header p {
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
}

header > p > a {
    text-decoration: none;
    color: white;
}

header > p > a:hover {
    text-decoration: underline;

}


main{
    
    text-align: justify;
    line-height: 2em;
    

}

    

div.verso1 > pre > p {
    font-size: 1.5em;
    margin-left: -140px;

}

div.verso2 {   
    background-image: url(../imagens/background001.jpg);
    background-color: black;    
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin-top: 50px;
    padding: 10px;
    box-shadow: inset 6px 6px 3px white;
    
    }
div.verso2 > pre > p {
    
    font-size: 1.5em;
    margin-left: -170px;
    width: 300px;
    color: white;
    

}


div.verso3 > pre > p {
    font-size: 1.5em;
    margin-left: -140px;

}

div.verso4 {
    min-height: 100vh;
    padding: 10px;
    background-color: black;
    background-image: url(../imagens/background002.jpg);
    background-attachment: fixed;
    background-position: center center;
    margin-top: 50px;
    box-shadow: inset 6px 6px 1px white;
    
}
div.verso4 > pre > p {
    
    font-size: 1.5em;
    margin-left: -170px;
    color: black;

}

div.verso5 > pre > div > p {
    font-size: 1.5em;
    margin-left: -140px;

}

footer {
    background-color: black;
    padding: 10px;
}

footer p {
    color: white;
    text-align: center;
}